# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\软件测试工程\test111\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
